<h2>Begin combat!</h2>
<a href="/initiativeTracker/new"><button type="button">Add Character</button></a>
<% initiativeTracker.forEach(initiative => { %>
    <div>
        <span><%= initiative.number %></span>
        <span><%= initiative.name %></span>
        <a href="/initiativeTracker/<%= initiative.id %>">View</a>
        <a href="/initiativeTracker/<%= initiative.id %>/edit">Edit</a>
        <span>
            <!-- Here we include the delete form from our partials folder to avoid making the same code constantly -->
            <%- include('../partials/deleteForm',
            {url: `/initiativeTracker/${initiative.id}`})%>
        </span>
    </div>
<% }) %>





